version: "3.8"

services:
  minecraft:
    image: itzg/minecraft-server:latest
    container_name: minecraft
    environment:
      EULA: "TRUE"
      TYPE: "PAPER"
      VERSION: "1.20.4"
      MEMORY: "3G"
      ONLINE_MODE: "TRUE"
      ENABLE_WHITELIST: "TRUE"
      VIEW_DISTANCE: "8"
      SIMULATION_DISTANCE: "6"
    ports:
      - "25565:25565/tcp"
      - "19132:19132/udp"
    volumes:
      - ./data:/data
    restart: unless-stopped
